<html>

<head>
	<title>Add Shortcut</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hamburger.css">
</head>

<body>
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Top Navigation Menu -->
	<div class="topnav">
		<a href="#home" class="active">Logo</a>
		<!-- Navigation links (hidden by default) -->
		<div id="myLinks">
			<a href="#report">Report Cops/Construction</a>
			<a href="#plans">Building Plans</a>
			<a href=#help>Need Help?</a>
			<a href=#signout>Sign Out</a>
		</div>
		<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
		<a href="javascript:void(0);" class="icon" onclick="hamburgerToggle()">
			<i class="fa fa-bars"></i>
		</a>
	</div>

	<div class="middle_area">
	    <img src="/images/drop_down_arrow.png" alt="Location Drop Down Arrow" class="location_arrow">
	    </br>
	    <img src="/images/shortcut_map.png" alt="Static map" class="map">
	    </br>
        <div class="edit_buttons">
           <button type="button" class="btn btn-dark">Start/Stop</button>
           <button type="button" class="btn btn-dark">Undo</button>
           <button type="button" class="btn btn-dark">Clear</button>
           <button type="button" class="btn btn-dark">Done</button>
        </div>
	</div>

	<script src="/js/bootstrap.js"></script>
	<script src="/js/hamburger.js"></script>
</body>

</html>