<html>

<head>
	<title>Short Wayze</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">


</head>

<body>
	Begin here (or replace this with any static code already written).
	<script src="/js/bootstrap.js"></script>
</body>

</html>