<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    {{>facebook}}
    <script src="/js/facebook.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Sign in</title>

</head>

<body>
    <div class="main">
        <p class="intro_title">Sign in</p>
        <form class="form1">
            <input class="un " type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">

            <button class="submit" formaction="" id="enter" onclick="invalid()">Sign in</button>
            <p class="facebookLogin" align="center">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>
            </p>
<!--            <p class="forgot" align="center"><a href="/nav">Forgot Password?</a></p>-->
        </form>
    </div>

</body>

</html>