<html>

<head>
	<title>Add Shortcut</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/hamburger.css">
	<link rel="stylesheet" href="/css/shortcut.css">
	<link rel="stylesheet" href="/css/add_shortcut_dropdown.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="init()">
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- <script type="text/javascript" src="/js/script.js"></script> -->
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hamburger.js"></script>
	<script src="/js/add_shortcut_dropdown.js"></script>
	<script src="/js/drawShortcut.js"></script>


	<!-- Top Navigation Menu -->
	<header class="title">
		<a href="/home" style="text-decoration: none;"><h1>SHORT WAYZE</h1></a>
		<div class="top">
			<a href="#" class="menu_icon"><i class="fa fa-bars"></i></a>
		</div>
	</header>
	<nav class="menu">
		<a href="/add/shortcut" class="item_menu">Add Shortcut</a>
		<a href="/add/report" class="item_menu">Report Cop/Construction</a>
		<a href="/add/building_plan" class="item_menu">Building Plans</a>
		<a href="/help" class="item_menu">Need Help?</a>
		<a href="/login" class="item_menu">Sign Out</a>
	</nav>

<!-- Dropdown to add start and end location for adding shortcut-->
<!-- 	<div class="middle_area">
		<div id="myNav" class="overlay">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="overlay-content">
				<span class="flag"> &#127884 </span>
				<input class="start-box" type="text" placeholder="Start" id="start"/> <br />
				<span class="flag"> &#127937 </span>

				<input class="end-box" type="text" placeholder="End" id="end"/> <br />
				<button class="add-button" id="select">Select</button>
			</div>
		</div>
		<div class="dropdown-button">
			<span onclick="openNav()">&#11167;</span>

		</div> -->



	<form id="addShortcut" role="form" method="get" action="/add/shortcut">
		<h3>Add a shortcut</h3>
		<p> Input the start and end location, and draw the path.</p>

		<div class="form-group">
			<label for="start">Start:</label>
			<input type="text" class="form-control" id="start" placeholder="Start" name="start" style='width:50%'>
		</div>
		<div class="form-group">
			<label for="end">End:</label>
			<input type="text" class="form-control" id="end" placeholder="End" name="end" style='width:50%'>
		</div>
		<input type="submit" id="submitBtn" class="btn btn-default" value="Save drawing and submit" onclick="save()"></input>
		<input type="button" value="Clear Drawing" id="clr" size="23" onclick="erase()" style="position:absolute;">
		<br>
		<br>
		<canvas id="can" width="800" height="1000" style="position:absolute;border:2px solid;"></canvas>
		<img id="canvasimg" style="position:absolute;top:110%;left:10%;" style="display:none;">
		     
			
	</form>


<!-- 	<div class="middle_area">
		<img src="/images/shortcut_map.png" alt="Static map" class="map">
		</br>
		<div class="edit_buttons">
			<button type="button" class="btn btn-dark">Start/Stop</button>
			<button type="button" class="btn btn-dark">Undo</button>
			<button type="button" class="btn btn-dark">Clear</button>
			<button type="button" class="btn btn-dark">Done</button>
		</div>
	</div> -->





	 <!--  <canvas id="can" width="800" height="1000" style="position:absolute;top:12%;left:10%;border:2px solid;"></canvas>
        <div style="position:absolute; top:12%; left:63%;">Choose Color</div>
        <div style="position:absolute;top:15%;left:65%;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
        <div style="position:absolute;top:15%;left:66%;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
        <div style="position:absolute;top:15%;left:67%;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
        <div style="position:absolute;top:17%;left:65%;width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
        <div style="position:absolute;top:17%;left:66%;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
        <div style="position:absolute;top:17%;left:67%;width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
        <div style="position:absolute;top:20%;left:63%;">Eraser</div>
        <div style="position:absolute;top:22%;left:65%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
        <img id="canvasimg" style="position:absolute;top:110%;left:10%;" style="display:none;">
        <input type="button" value="Save Drawing" id="btn" size="30" onclick="save()" style="position:absolute;top:85%;left:63%;">
 -->
        

	
</body>

</html>