body {
  font-family: "Poppins", sans-serif;
}

.search_dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

/* Dropdown Button */
.drop-button {
  width: 180px;
  background-color: rgb(70, 15, 95);
  color: white;
  padding: 5px;
  align-self: center;
  font-size: 17px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

/* Add a building plan button */
.add-button_alt {
  width: 180px;
  background-color: #233556;
  color: white;
  padding: 16px;
  align-self: center;
  font-size: 17px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

/* Add a building plan button */
.add-button_orig {
  background-color: #233556;
  color: white;
  padding: 5px;
  align-self: center;
  font-size: 17px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

/* Dropdown Button */
.drop-button_orig {
  background-color: #233556;
  color: white;
  padding: 5px;
  align-self: center;
  font-size: 17px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
}

.bplan-name {
  text-align: start;
}
