.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: orange;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  float: left;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #000000;
  color: black;
  text-align: center;
}
