body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.help {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 16px;
  color: rgb(45, 72, 148);
}

h1.faq {
  font-size: 25px;
  text-align: center;
  text-emphasis: bold;
  margin-top: 10px;
}

p {
  margin-left: 20px;
  font-size: 18px;
  text-emphasis: bold;
  text-align: center;
}

ol {
  margin-left: 30px;
  margin-right: 10px;
}
