html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.title h1 {
  font-family: "Lobster";
}

#myModal {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  max-width: ;
}

#picture {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.plans {
  max-width: 500px;
}

.edit_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  width: 100%;
  background-color: #176881;
  color: white;
  padding: 16px;
  align-self: center;
  font-size: 16px;
  border: none;
}

.building-plan {
  padding: 0px;
  margin: 0px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}