html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*
img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 1;
  max-width: 100%;
}
*/

#myModal {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    max-width: ;
}

#picture {
	max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.plans {
	max-width: 500px;
}