html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.title h1 {
  font-family: "Lobster";
}

#myModal {
  overflow-y: auto;
  color: white;
}

#picture {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  padding-bottom: 30px;
}

.edit_buttons {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  width: 180px;
  background-color: #176881;
  color: white;
  padding: 16px;
  align-self: center;
  font-size: 17px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}

.building-plan {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  background-color: white;
  overflow: hidden;
}
.modal-body,
.modal-header,
.modal-footer {
  background: rgb(65, 81, 87);
}

.submit-button {
  background-color: #0d3c4b;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  margin: none;
}
.plans {
  padding: 0px 16px;
}

.start_location {
  text-align: start;
}
