.ucsd-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  display: flex;
  height: 10rem;
  width: 10rem;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box h1 {
  font-size: 20px;
  color: white;
}
.box1 {
  background-image: url("../images/Giesel\ Library.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.box2 {
  background-image: url("../images/Sun\ god.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}
.box3 {
  background-image: url("../images/Bear.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}
.box4 {
  background-image: url("../images/Triton\ Statue.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}
.box5 {
  background-image: url("../images/Fallen\ Star.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.box6 {
  background-image: url("../images/64-degree-sign.jpg");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center center;
}

.giesel-hover,
.sun-god-hover,
.bear-hover,
.triton-hover,
.star-hover,
.sixtyfour-hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.giesel-hover .helper,
.sun-god-hover .helper,
.bear-hover .helper,
.triton-hover .helper,
.star-hover .helper,
.sixtyfour-hover .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.giesel-hover > div,
.sun-god-hover > div,
.bear-hover > div,
.triton-hover > div,
.star-hover > div,
.sixtyfour-hover > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.giesel-closeButton,
.sun-god-closeButton,
.bear-closeButton,
.triton-closeButton,
.star-closeButton,
.sixtyfour-closeButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.giesel-closeButton:hover,
.sun-god-closeButton:hover,
.bear-closeButton:hover,
.triton-closeButton:hover,
.star-closeButton:hover,
.sixtyfour-closeButton:hover {
  background-color: #ccc;
}
.giesel-popup,
.sun-god-popup,
.bear-popup,
.triton-popup,
.star-popup,
.sixtyfour-popup {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
