body {
  height: 100vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

nav {
  text-align: left;
}

.little-border {
  display: block;
  width: 100%;
  height: 3px;
  background: #f1cd8f;
  margin: 20px auto;
}

/*Trigger Button*/
.login-trigger {
  color: #fff;
  background: #176881;
  padding: 15px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 180px;
  border-radius: 5px;
}

/*Modal*/
h4 {
  font-weight: bold;
  color: #fff;
}
.close {
  color: #fff;
  transform: scale(1.2);
}
.modal-content {
  background: rgb(65, 81, 87);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover,
.form-control:focus {
  box-shadow: none;
  border-color: rgb(145, 145, 145);
}
.location,
.time {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;
}
.form-control::-webkit-input-placeholder {
  color: #eee;
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #fab87f;
  color: #fab87f;
  font-weight: bold;
  transition: all 0.5s;
  margin-top: 1em;
}
.login:hover {
  background: #fab87f;
  color: #fff;
}

.report-button {
  background-color: #0d3c4b;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.modal-dialog {
  color: white;
  text-emphasis: none;
}

.report {
  margin: 0 16px;
}
