body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

form.example input[type="text"] {
  justify-self: left;
  padding: 10px;
  font-size: 17px;
  border: 1px solid #28a4c9;
  float: right;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 14.1px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.main-map img {
  width: 100%;
  height: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: #233556;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 180px;
  margin: 10px;
  border-radius: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #08183c;
}
/* The search field */
#loc_input {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 16px;
  border: none;
  width: 100%;
  background: #e8e8e8;
  color: black;
}

/* The search field when it gets focus/clicked on */
#loc_input:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.search_dropdown_btn {
  position: relative;
  display: inline-block;
  width: 100%;
  width: 100%;
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}
.search_dropdown-content input {
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.search_dropdown-content {
  display: none;
  position: absolute;
  background-color: #646c6f;
  min-width: 230px;

  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.search_dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: #252f44;
}

/* Change color of dropdown links on hover */
.search_dropdown-content a:hover {
  background-color: rgb(14, 60, 75);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Search for another building plan button*/

.search_dropdown_button {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Button */
.dropdown_button {
  background-color: rgb(124, 57, 124);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 100%;
  margin: 5px 0px;
}

.container {
  padding: 0;
  margin: 0;
}

.btn-dark {
  width: 180px;
}

#start_title,
#end_title {
  padding: ;
  margin-left: 20px;
  align-self: center;
  font-size: 16px;
  background-color: #828282;
  padding: 5px;
  margin: 5px 20px;
  color: white;
}
